* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    /*background-image: url("http://webneel.com/wallpaper/sites/default/files/images/05-2014/6-sunrise.preview.jpg");*/
    background-image: url("https://images.unsplash.com/photo-1504282706065-f5866e9cbeeb?ixlib=rb-0.3.5&q=99&fm=jpg&crop=entropy&cs=tinysrgb&w=2048&fit=max&s=dfa6be1ab061972747998af2cf956730");
    /*background-image: url("https://images.unsplash.com/photo-1514315153150-cd7d8d716178?ixlib=rb-0.3.5&q=99&fm=jpg&crop=entropy&cs=tinysrgb&w=2048&fit=max&s=efc3fdab438b6a5cc5c7d98446d05a96");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.background-overlay.show {
    opacity: 1;
}
.background-overlay {
    z-index: -1;
    background-image: url('overlay-vignette.png');
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity .5s ease-out;
}
.background-overlay, .background-overlay.high:after, .background-overlay.low:after {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

div{
    display: block;
    text-align: center;
}

p {
    margin: 0;
}

a {
    color: white;
}

a:hover, a:active, a:focus{
    color: white;
    text-decoration:none;
}

.TopLeft {
    position: fixed;
    padding: 1rem;
}

.TopLeftDrop {
    position: absolute;
    top: 3rem;
    left: 1rem;
    z-index: 1;
}

.react-calendar {
    font-size: 1rem;
}

.TopRight {
    right:0;
    position: fixed;
    padding: 1rem;
}

.TopRightDrop {
    position: absolute;
    background: rgba(15,15,15,.5);
    top: 3rem;
    right: 1rem;
    z-index: 10;
}

input{
    color: white;
    background: transparent;
    border: none;
    margin: 0;
}

label {
    padding-top: 0.5rem;
}

ul {
    position: relative;
    padding: 0 1rem 0 1rem;
    color: white;
    list-style: none;
    text-align: left;
}

li {
    position: relative;
}

input:active, input:focus{
    text-decoration: none;
    border:none;
    outline: none;
}

.todoForm>input:hover, .todoForm>input:active {
    color:#fff;
    background:#009688;
    text-decoration: none;
}

.todoForm>input:after {
    clicked:false;
    color:#009688;
    text-decoration: none;
}

.removeButton {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    color: white;
}

.removeButton:hover, .removeButton:active {
    color:#fff;
    background:#009688;
    text-decoration: none;
}

.removeButton:after {
    clicked:false;
    color:#009688;
    text-decoration: none;
}

.todoForm {
    margin: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.TimeWrap {
    font-weight: 500;
    color: white;
    padding-left: 5em;
    padding-right: 5rem;
    padding-top: 28vh;
    align-items: center;
    justify-content: center;
}

.ClockContent {
    font-size: 6rem;
}

.weatherWidgetWrap {
    text-align: center;
    padding: 1rem;
}

.weatherWidget {
    font-size: 2.5rem;
    font-weight: bold;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .ClockContent {
        font-size: 3.5rem;
    }
    .weatherWidget {
        font-size: 1.8rem;
    }
}

.bottomWrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.Quote{
    color: white;
    font-size: 1rem;
}

.quoteAuthor {
    color: white;
    font-size: 0.9rem;
    opacity: .75
}

.newQuoteButton {
    color: white;
    background: transparent;
    border: 1px solid;
    border-color: white;
}

.newQuoteButton:hover, .newQuoteButton:active {
    color:#fff;
    background:#009688;
    text-decoration: none;
    outline: none;
}
.newQuoteButton:after {
    clicked:false;
    color:#009688;
    text-decoration: none;
    outline: none;
}

#weatherdesc {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

#aboutDev {
    padding-top: 0.5rem;
    font-size: 0.8rem;
}


#aboutDev a {
    color: coral;
}

